/* --- CSS Reset --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---Global-CSS---- */

img {
  max-width: 100%;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.no-decoration {
 text-decoration: none;
}

.black-color {
  color: #000;
}

.white-color {
  color: #fff;
}

.grey-color {
  color: #aaa;
}

.orange-kind-color {
  color: #f42;
}

.black-kind-color {
  color: rgba(12, 10, 10, 0.788);
}

.parent-element {
  position: relative;
}

.child-element {
  position: absolute;
}

.cursor {
  cursor: pointer;
}

/* -----------------------------------Mobile-version-------------------------------------- */

/* --- navigation --- */

.teriary-menu {
  justify-content: space-between;
}

.tertiary-menu-left {
  background-image: linear-gradient(to bottom right,#c09,#f42 85%);
  height: 50px;
  padding: 15px;
}

.tnw-image {
  width: 80px;
}

.tertiary-menu-right {
  margin-right: 10px;  
}

.search-icon {
  margin-right: 15px;
  margin-top: 18px;
}

.separator {
  border-right: 1px solid rgba(207, 203, 203, 0.459);
  margin-right: 14px;
}

.bar-icon {
  margin-top: 17px;
}

.fa-search {
  color: rgba(128, 128, 128, 0.405);
}

.fa-bars {
  color: red;
}

.fa-bars:hover {
  cursor: pointer;
} 

.follow-up-link {
  background-color: #fd3;
  padding: 20px;
}

.follow-up-link a {
  font-weight: lighter;
}

.fa-arrow-right {
  font-size: 9px;
}

/* ---Jumbotron--- */


.jumbo-description,
.miscellaneous-description {
  bottom: 2px;
  padding: 12px;
  background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.781) 50%, rgba(0, 0, 0, 0.938) 100% );
}


.jumbo-feature-image {
  width: 100%;
  height: 150px;
}

.description {
  font-size: 0.7em; 
}

h6, h6 a {
  color: rgba(255, 255, 255, 0.788);
  font-size: 0.95em;
}

/* ----latest new ----- */

.news {
  margin: 40px 0;
}

.box-image {
  width: 25%;
}

.box {
  padding: 30px 15px 0;
}

.box-description {
  margin-left: 15px;
}

h2 a {
  font-size: 28px;
}

h2 a:hover {
  color: #000;
}

.fa-sm {
  top: 6.7px;
  left: 150px;
}

.bold a:hover {
  color: #f42;
  text-decoration: underline;
}

.grey-color a:hover {
  color: rgb(94, 88, 88);
}

/* --- funding --- */

.funding {
  padding: 25px;
}

.sub-menu {
  flex-direction: column;
  padding-bottom: 20px;
}

.fa-angle-right {
  top: 6px;
  left: 150px;
}

.angle-right {
  top: 5px;
  left: 98%;
}

.sub-menu a {
  padding: 5px;
}

.sub-menu a:hover {
  color: black;
}

.funding-title {
  background-color: #f42;
  height: 40px;
}

h3 {
left: 80px;
top: 15px;
}

.funding-images {
  width: 60px;
  height: 60px;
  left: 10px;
  top: 10px;
}

.funding-details {  
  background-color: rgba(255,68,34,.08);
  padding: 10px;
}

.funding-details b {
  font-size: 1.2em;
  margin-left: 81px;
}

.funding-details p {
  margin-left: 81px;
  font-size: 0.8em;
}

.funding-type {
  background-color: rgb(255,250,248);
  padding: 10px 20px;
}

.investment,
.business-type,
hr,
.raises {
  margin-top: 10px;
}

.investment a:hover,
.business-type a:hover {
  color: rgba(97, 87, 87, 0.548);
}

hr {
  height: 1px;
  background-color: #f42;
  border: none;

}

/* --- miscellaneous --- */

.miscellaneous {
  margin-top: 30px;
  padding: 2px;
}

.angle-fork {
 top: 4px;
 left: 140px;
}

.miscellaneous-top-box {
  margin-top: 13px;
}

.miscellaneous-feature-image {
  width: 100%;
  height: 390px;
}

.latest {
  background-color: rgba(255,68,34,.08);
  padding: 10px;
}

.latest-image {
  width: 90px;
  height: 80px;
}

.latest-paragraph {
  font-weight: bold;
  margin-top: 5px;
}

.latest-link:hover {
  text-decoration: underline;
}

.list-of-article {
  margin: 10px 0 25px;
}

.list-of-article a:hover {
  color: rgba(34, 28, 28, 0.603);
}

.list-of-article-separator {
  border: none;
  height: 1px;
  background-color: #aaa;
  margin-bottom: 7px;
}

.list-of-article ul {
  list-style-type: none;
}

.list-of-article ul li::before {
  content: "\2022";
  color: red;
  margin-right: 5px;
}