/* --- CSS Reset --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---Global-CSS---- */

main {
  padding: 0 15px;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.no-decoration {
 text-decoration: none;
}

.black-color {
  color: #000;
}

.white-color {
  color: #fff;
}

.grey-color {
  color: #aaa;
}

.orange-kind-color {
  color: #f42;
}

.black-kind-color {
  color: rgba(12, 10, 10, 0.788);
}

.parent-element {
  position: relative;
}

.child-element {
  position: absolute;
}

.cursor {
  cursor: pointer;
}

.line-through {
  text-decoration: line-through;
}

.menu-color {
  color: rgba(240, 234, 234, 0.753);
}

.mr {
  margin-right: 10px;
}

.mr-2x {
  margin-right: 20px;
}

.space-btw {
  justify-content: space-between;
}

/* -----------------------------------Mobile-version-------------------------------------- */

/* --- navigation --- */

.header-wrapper {
  position: sticky;
  top: 0;
  background-color:rgba(255, 255, 255);
  z-index: 1;
}

.logo-on-left {
  background-image: linear-gradient(to bottom right,#c09,#f42 85%);
  width: 200px;
  height: 50px;
  padding: 15px;
}

.tnw-image {
  width: 80px;
}

.menu-on-right {
  width: 85%;
}

.top-menu-right {
  background-color: black;
  padding: 7px 15px;
}

.top-menu-right a {
  font-size: 13px;
}

.bottom-menu-right {
  padding: 20px;
}

.search-icon,
.bars-icon {
  align-self: center;
}

.separator {
  border-right: 1px solid rgba(207, 203, 203, 0.459);
  margin-right: 20px;
}

.bar-icon {
  margin-top: 17px;
}

.fa-search {
  color: rgba(128, 128, 128, 0.405);
}

.fa-bars {
  color: red;
}

.fa-bars:hover {
  cursor: pointer;
} 

.follow-up-link {
  background-color: #fd3;
  text-align: center;
  padding: 20px 0;
  width: 100%;
}

.follow-up-link a {
  font-weight: lighter;
  font-size: 0.82em; 
}

.fa-arrow-right {
  font-size: 0.6em;
}

/* ---Jumbotron--- */


.jumbo-description,
.miscellaneous-description {
  bottom: 2px;
  padding: 12px;
  background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.781) 50%, rgba(0, 0, 0, 0.938) 100% );
  width: 100%;
}


.jumbo-feature-image {
  width: 100%;
  height: auto;
}

.description {
  font-size: 0.7em; 
}

h6, h6 a {
  color: rgba(255, 255, 255, 0.788);
  font-size: 0.95em;
}

/* ----latest new ----- */

.news {
  margin: 40px 0;
}

.box-image {
  width: 25%;
}

.box,
.deals-box,
.funding,
.miscellaneous {
  padding: 30px 0;
}

.box-description {
  margin-left: 15px;
}

h2 a {
  font-size: 28px;
}

h2 a:hover {
  color: #000;
}

.fa-sm {
  top: 6.7px;
  left: 150px;
}

.bold a:hover {
  color: #f42;
  text-decoration: underline;
}

.grey-color a:hover {
  color: rgb(94, 88, 88);
}

/* --- funding --- */

.sub-menu {
  flex-direction: column;
  padding-bottom: 20px;
}

.fa-angle-right {
  top: 6px;
  left: 150px;
}

.angle-right {
  top: 5px;
  left: 310px;
}

.long-title {
  font-size: 1.3em;
  font-weight: bold;
}

.sub-menu a {
  padding: 5px;
}

.sub-menu a:hover {
  color: black;
}

.funding-title {
  background-color: #f42;
  height: 40px;
}

h3 {
left: 80px;
top: 15px;
}

.funding-images {
  width: 60px;
  height: 60px;
  left: 10px;
  top: 10px;
}

.funding-details {  
  background-color: rgba(255,68,34,.08);
  padding: 10px;
}

.funding-details b {
  font-size: 1.2em;
  margin-left: 81px;
}

.funding-details p {
  margin-left: 81px;
  font-size: 0.8em;
}

.funding-type {
  background-color: rgb(255,250,248);
  padding: 10px 20px;
}

.investment,
.business-type,
hr,
.raises {
  margin-top: 10px;
}

.investment a:hover,
.business-type a:hover {
  color: rgba(97, 87, 87, 0.548);
}

hr {
  height: 1px;
  background-color: #f42;
  border: none;

}

/* --- miscellaneous --- */

.angle-fork {
 top: 4px;
 left: 140px;
}

.angle-apps {
  top: 4px;
  left: 70px;
}

.angle-creative {
  top: 4px;
  left: 110px;
}


.miscellaneous-top-box {
  margin-top: 13px;
}

.miscellaneous-feature-image {
  width: 100%;
  height: 390px;
}

.latest {
  background-color: rgba(255,68,34,.08);
  padding: 10px;
}

.latest-description {
  width: 67%;
}

.latest-image-block {
  width: 30%;
}

.latest-image {
  width: 100%;
  height: 100%;
}

.latest-paragraph {
  font-weight: bold;
  margin-top: 5px;
}

.latest-link:hover {
  text-decoration: underline;
}

.list-of-article {
  margin: 10px 0 25px;
}

.list-of-article a:hover {
  color: rgba(34, 28, 28, 0.603);
}

.list-of-article-separator {
  border: none;
  height: 1px;
  background-color: #aaa;
  margin-bottom: 7px;
}

.list-of-article ul {
  list-style-type: none;
}

.list-of-article ul li::before {
  content: "\2022";
  color: red;
  margin-right: 5px;
}

/* ---deals section--- */

.deals-box {
  clear: both;
}

.deals-description {
  margin-left: 15px;
}

.deals-description a:hover {
  color: #f42;
  text-decoration: underline;
}

.deals-heading {
  width: 60%;
}

.deals-angle {
  top: 4px;
  left: 150px;
}

.deals-follow-up {
  float: right;
  margin-top: 10px;
}

.deals-follow-up a:hover {
  color: #000;
}

.true-price {
  color: rgb(26, 23, 23);
}

/* --- footer --- */

footer {
  margin-top: 45px;
}

.menus {
  background-color: #131313;
  width: 100%;
  padding: 10%;
}

.social-shares {
  text-align: center;
}

.social-shares a {
  margin-right: 5px;
}

.icon-back {
  border: 1px solid rgb(44, 42, 42);
  background-color: rgb(44, 42, 42);
  border-radius: 100%;
  padding: 3.5%;
}

.icon-back:hover {
  border: 1px solid rgb(44, 42, 42);
  background-color: rgb(12, 10, 10);
  padding: 3.5%;
}

.footer-menu {
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.footer-menu a {
  font-size: 0.8em;
  margin-right: 2px;
}

.footer-menu a:hover {
  color: rgba(255, 255, 255, 0.952);
}

.credits {
  background-color: #000;
  width: 100%;
  padding: 10%;
  text-align: center;
}

.foot-tnw-image {
  width: 15%;
  height: auto;
}

/* --------------------------------Tablet View----------------------------------------- */
/* ---navigation--- */
@media screen and (min-width:768px) {
  .tnw-image {
    width: 80px;
    top: 32px;
  }

  .top-menu-right,
  .bottom-menu-right {
    display: block;
  }

  .icon-on-right {
    display: none;
  }

  .logo-on-left {
    height: auto;
  }
}

